LINEBLOCS_KEY=
PROXY_HOST=159.89.124.168
ARI_HOST=159.89.124.168

ARI_URL=http://${ARI_HOST}:8088/ari
ARI_WSURL=ws://${ARI_HOST}:8088/ari/events
ARI_USERNAME=lineblocs_ari_user
ARI_PASSWORD=
MEDIA_API_URL=
API_URL=
KAFKA_RECORDINGS_TOPIC=recordings-post-process
KAFKA_SERVER_ENDPOINTS=127.0.0.1:9092

DB_HOST=
DB_USER=
DB_PASS=
DB_NAME=